body {
    font-family: Arial, sans-serif;
     
      width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
}



.Navigation {
    background-color: #003432;
    background-image: url("../../images/b_1.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 38px;
}

.title {
    text-align: center;
    font-family:Georgia, serif;
    font-size: 40px;
    letter-spacing: 13px;
    color: white;
    margin: 0;
}
.subtitle {
    text-align: center;
    font-family:Georgia, serif;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 5px;
    color: white;
    margin: 5px 0;
}


.login-container {
    background-color: #003432;
    color: white;
    max-width: 500px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;

}


.login-container h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Georgia, serif;
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form label {
    font-size: 18px;
    text-align: left;
}

.login-form input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: white;
    transition: border-color 0.3s ease;
}

.login-form input:focus {
    border-color: orange;
    outline: none;
}

.login-form button {
    background-color: #8b4513;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #b5651d;
}

.login-footer {
    margin-top: 20px;
    font-size: 14px;
}

.login-footer a {
    color: orange;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}
/* Styl dla stopki */
.footer {
    background-color: #003432; /* Tło stopki */
    color: white; /* Kolor tekstu */
    text-align: center; /* Wyśrodkowanie tekstu */
    padding: 20px 0; /* Odstępy wewnętrzne */
    font-size: 16px; /* Rozmiar czcionki */
    position: relative; /* Pozycjonowanie */
    bottom: 0; /* Stopka na dole strony */
    width: 100%; /* Szerokość na 100% */
    margin-top: 20px; /* Odstęp od innych elementów */
}

/* Linki w stopce */
.footer a {
    color: orange; /* Kolor linków */
    text-decoration: none; /* Brak podkreślenia */
}

.footer a:hover {
    text-decoration: underline; /* Podkreślenie linków przy najechaniu */
}

/* Styl dla akapitu w stopce */
.footer p {
    margin: 5px 0; /* Odstępy między akapitami */
}

